{% assign section = include.section %}
<section id="{{ section.section_id }}" class="block cta-block bg-accent outer">
  <div class="block-header inner-small">
    {% assign title_is_not_empty = section.title | is_not_empty %}
    {% if title_is_not_empty %}
    <h2 class="block-title">{{ section.title }}</h2>
    {% endif %}
    {% assign subtitle_is_not_empty = section.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <p class="block-subtitle">
      {{ section.subtitle }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  <div class="block-content inner-medium">
    {{ section.content | markdownify }}
    <form name="{{ section.form_id }}" id="{{ section.form_id }}" action="https://formspree.io/f/xnqowwll" method="POST">
    <div class="form-row-tight">
        <input type="text" name="name" id="name" placeholder="Name" />
    </div>
    <div class="form-row-tight">
        <input type="text" name="_replyto" id="email" placeholder="Email" required="" />
    </div>
    <div class="form-row-tight">
        <input type="text" name="phone" id="phone" placeholder="Phone number" required="" />
    </div>
      <div class="form-row-tight form-submit-tight">
        <button type="submit" name="call-me" class="button">Request a call</button>
		<button type="submit" name="email-me" class="button">Send me a quote</button>
      </div>
    </form>
	<p style="font-size: 50%; text-align: center;">Adhering strictly to the <a href="https://www.oaic.gov.au/privacy/australian-privacy-principles-guidelines/" tartget="_blank">Australian Privacy Principles guidelines</a> in dealing with any contact information you provide to us, we take your privacy seriously and we promise we won't spam you.</p>
  </div>
</section><!-- .block-->
